<%- include('partial/header') %>
<div style="height: 10vh;">

</div>
<section class="container d-flex justify-content-center align-items-center flex-column min-vh-100">
   
</section>
</div>


</div>
    <div class="py-6 px-6 text-center " style="background-color: rgba(0, 0, 0, 0.884); backdrop-filter: blur(15px); color: white;">
        <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank"
            class="pe-1 text-primary text-decoration-underline">AdminMart.com</a>Distributed by <a href="https://themewagon.com/" target="_blank"
            class="pe-1 text-primary text-decoration-underline">ThemeWagon</a></p>
    </div>

<%- include('partial/footer') %>
     

   