<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="/">
                    
                        <img src="/user/images/logo.jpg" style="height:40px; border-radius:20px" alt="logo">
                   

                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="/" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item"><a  href="/terms&condition" class="site-footer-link">Terms and conditions</a></li>
                    <li class="site-footer-link-item"><a  href="/privacypolicy" class="site-footer-link">Privacy Policy</a></li>
                    <li class="site-footer-link-item"><a  href="/listingoftutor" class="site-footer-link">I Need A Tutor</a></li>
                    <li class="site-footer-link-item"><a  href="/listingofstudent" class="site-footer-link">I Need A Tution</a></li>



                    
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Tutors of city</h6>

                <p class="text-white d-flex mb-1">
                    <a href="/scearch?state=Delhi" class="site-footer-link">
                        Delhi
                    </a>
                </p>

                <p class="text-white d-flex mb-1">
                    <a href="/scearch?state=Noida" class="site-footer-link">
                        Noida
                    </a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/scearch?state=Gurugram" class="site-footer-link">
                        Gurugram
                    </a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="/scearch?state=Faridabad" class="site-footer-link">
                        Faridabad
                    </a>
                </p>
            </div>


            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                        info@company.com
                    </a>
                </p>
            </div>

            

        </div>
    </div>
    
</footer>
<div class="text-center p-3" style="background-color: #437eff">
    © 2025 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/"
      >DigitalStart</a
    >
  </div>
    
  <!-- End of .container -->


  <!-- JAVASCRIPT FILES -->
  <script src="/user/js/jquery.min.js"></script>
  <script src="/user/js/bootstrap.bundle.min.js"></script>
  <script src="/user/js/jquery.sticky.js"></script>
  <script src="/user/js/click-scroll.js"></script>
  <script src="/user/js/custom.js"></script>

 </body>
</html>